{% if notification %}
<div id="daily-alert"class="alert alert-secondary mt-3">
  <h5 class="fw-bold">🔔Placement Insight of the Day</h5>
  <p class="mb-0"><strong>{{ notification.category}}:</strong>{{ notification.message}}</p>
</div>


<!--View the notification again when it disappears-->
<button id="view-again-btn"  class="btn btn-outline-info mt-3" style="display:none; color:white">
 View Insight Again🔄️
</button>

<script>
   const alertBox=document.getElementById("daily-alert");
   const viewBtn = document.getElementById('view-again-btn');
   //const originalContent = alertBox ? alertBox.innerHTML : "";

  // Auto-fade the daily alert after 8 seconds
  setTimeout(function() {
    if (alertBox) {
      alertBox.style.transition = "opacity 1s ease";
      alertBox.style.opacity = "0";

      //After fade animation ends(1s later), hide it
      setTimeout(() => {
        alertBox.style.display = "none";   // hide instead of remove
        viewBtn.style.display = "inline-block"; // show button
      }, 1000);
    }
  }, 8000);// 8000ms = 8s

  // Review the Insight of the day again
   viewBtn.addEventListener("click", function() {
    if (alertBox) {
      alertBox.style.display = "block";
      alertBox.style.opacity = "1";
      viewBtn.style.display = "none";
    }
  });
</script>
{% endif %}
<style>
  #daily-alert{
     transition: opacity 1s ease;
  }
</style>
{% extends "base.html" %}
{% block content %}
<div class="home-content">
<div class="glass p-4 p-md-5 mx-auto" style="max-width: 900px;">
  <h3 class="text-center mb-3" style="color:black"><strong>STUDENT PLACEMENT PREDICTION</strong></h3>
  <form action="{{ url_for('predict') }}" method="post" class="mt-3">
    <div class="mb-3">
      <label class="form-label" style="color:black"><strong>FULLNAME</strong></label>
      <input type="text" id="student_name" name="student_name" required class="form-control" placeholder="Enter student fullname.">
    </div>
    <div class="mb-3">
      <label class="form-label" style="color:black"><strong>CGPA</strong></label>
      <input type="number" step="0.01" name="cgpa" min="0" max="10" required class="form-control" placeholder="Enter their CGPA(0 – 10)">
    </div>
    <div class="mb-3">
      <label class="form-label" style="color:black"><strong>IQ Level</strong></label>
      <input type="number" name="iq" min="50" max="200" required class="form-control" placeholder="Enter IQ Level(50 – 200)">
    </div>
    <div class="mb-3">
      <label class="form-label" style="color:black"><strong>Profile Score</strong></label>
      <input type="number" name="profile_score" min="0" max="100" required class="form-control" placeholder="Enter Profile Score(0 – 100)">
    </div>
    <button type="submit" class="btn btn-neo w-100">Predict</button>

  </form>
   
</div>
</div>
 
{% endblock %}
