{% extends "base.html" %}
{% block content %}
<div class="glass p-4 mx-auto" style="max-width: 500px;">
  <h3 class="text-center" style="color: black;">Reset your password</h3>
  <form method="POST">
    <div class="mb-3">
      <label style="color:black; background-color:darkgray">New Password</label>
      <input type="password" name="password" class="form-control" placeholder="Enter your new password."  required>
    </div>
    <button type="submit" class="btn btn-neo w-100" style="color:black;">Reset Password</button>
  </form>
</div>
{% endblock %}
